    <!-- Footer -->
    <div class="footer" data-aos="fade-right" data-aos-duration="3000">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-col">
                        <h3>About Career Bro</h3>
                        <p style="font-size: larger; font-weight: bold;">We're passionate about offering some of the best communities and environment to them who are just needed to carved in a manner to reach their new heights.</p>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col middle">
                        <h4>Download Our App</h4>
                        <img src="../assets/images/playstore.png" alt="playstore-image">
                        <img src="../assets/images/applestore.png" alt="applestore-image">
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col last">
                        <h4>Social Media</h4>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-google-plus-g fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin-in fa-stack-1x"></i>
                            </a>
                        </span>
                    </div> 
                        <div class="box" style="margin-top: -1rem;">
                            <div class="back-face">
                                <input #search type="email" placeholder="Email" name="EMAIL">
                                <a href="/home"><button (click)="submit(search.value)">Submit</button></a>
                            </div>
                            <div class="front-face">
                                <p style="margin-top: 1.5rem; font-size:large; color:#ffffff">Subscribe For Updates</p>
                            </div>
                        </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->  
    <!-- end of footer -->
